@model IEnumerable<MyStore.WebApp.Models.StoreViewModels.ReceiptItemViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>
    Customer: @ViewData["Customer"] <br />
    Store: @ViewData["Store"]
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td>Total:</td>
            <td>
                @{
                    String s = string.Format($"{ViewData["TotalCost"]:C}");
                    @s
                }
            </td>

        </tr>
    </tbody>
</table>
