@model MyStore.WebApp.Models.StoreViewModels.OrderViewModel

@{
    ViewData["Title"] = "Items";
}

<h1>Select Order Items</h1>

<label asp-for="Name" class="control-label"></label>
@Html.DisplayFor(Model => Model.Name)

<label asp-for="StoreName" class="control-label"></label>
@Html.DisplayFor(Model => Model.StoreName)

<h4>Order Items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @{
                for(int i = 0; i < Model.orderitems.Count; i++)
                {
                    var current = Model.orderitems[i];
                    <div class="form-group">
                        <p>
                            Item - @current.name
                        </p>
                        <input type="number" id="@current.name" name="@current.name" value="0" min="0" max="@current.amount">
                    </div>

                }
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
