@model MyStore.WebApp.Models.StoreViewModels.OrderViewModel

@{
    ViewData["Title"] = "Items";
}

<h1>Select Order Items</h1>
<b>Store: </b>
@Html.DisplayFor(Model => Model.StoreName)
<br />
<b>Customer: </b>
@Html.DisplayFor(Model => Model.Name)

<h4>Order Items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @{
                for (int i = 0; i < Model.orderitems.Count; i++)
                {
                    <div class="form-group">
                        <label asp-for="@Model.orderitems[i].name"></label>
                        <input asp-for="@Model.orderitems[i].name" type="hidden">
                        <label asp-for="@Model.orderitems[i].amount"></label>
                        <input asp-for="@Model.orderitems[i].amount" type="number" class="form-control" value="0" min="0" max="@Model.orderitems[i].amount" />
                        <span asp-validation-for="orderitems" class="text-danger"></span>
                    </div>
                }
            }



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                @Html.DisplayFor(Model => Model.Name)
                <input asp-for="Name" type="hidden">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreName" class="control-label"></label>
                <input asp-for="StoreName" type="hidden">
                <span asp-validation-for="StoreName" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="OrderTime" class="control-label"></label>
        <input asp-for="OrderTime" class="form-control" />
        <span asp-validation-for="OrderTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ID" class="control-label"></label>
        <input asp-for="ID" class="form-control" />
        <span asp-validation-for="ID" class="text-danger"></span>
    </div>
    -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
