@model MyStore.WebApp.Models.StoreViewModels.StoreViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Store Details</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOrders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOrders)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumItemsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumItemsInStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Stores">Back to Stores</a>
</div>
