@model MyStore.WebApp.Models.StoreViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer - @Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleInitial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleInitial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumOrders)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumOrders)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeStore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeStore)
        </dd>
    </dl>
</div>

<partial name="OrdersPartialView" for="orders">

<div>
    @Html.ActionLink("Edit", "Edit", new { customerName = Model.Name }) |
    <a asp-action="Index">Back to List</a>
</div>




